.fade:hover .centered{
    opacity: 1;
}
.fade:hover {
    opacity: 0.6;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: black;
  }

  .mat-grid-tile {
    text-align: center;
  }

  .buttonholder {
    display: flex;
    justify-content: center;
  }