<div *ngIf="toys">        
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> TOYS </mat-toolbar>
        <mat-card style = "display: inline-block; vertical-align: top; border: 3px solid black; max-width: 30%;">
            <mat-card-header>
                <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">TOYS INTRODUCTION</mat-card-title>
              </mat-card-header>
                <video controls #videoPlayer style="max-width: 100%;" >
                    <source src="{{'assets/Spidey Toys S. Levine.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
              </video>
        </mat-card>  
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/IMG_5622.JPG'}}" routerLink="../grailtoys">
                <div class="centered" routerLink="../grailtoys"> Grail Toys </div>
            </mat-grid-tile>
        <mat-grid-tile>
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/IMG_5430.JPG'}}" routerLink="../boxedtoys">
            <div class="centered" routerLink="../boxedtoys"> Toys in Boxes </div>
        </mat-grid-tile>
        <mat-grid-tile routerLinkActive="active">
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/IMG_5389.JPG'}}" routerLink="../showcasetoys">
            <div class="centered" routerLink="../showcasetoys"> Showcase Toys </div>
        </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="appearances">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> APPEARANCES </mat-toolbar>
        <mat-card style = "display: inline-block; vertical-align: top; border: 3px solid black; max-width: 30%;">
            <mat-card-header>
                <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">APPEARANCES INTRODUCTION</mat-card-title>
              </mat-card-header>
                <video controls #videoPlayer style="max-width: 100%;" >
                    <source src="{{'assets/Appearances S. Levine.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
              </video>
        </mat-card> 
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/2aaf14.JPG'}}" routerLink="../asmhighvalueappearancescgc">
                <div class = "centered" routerLink="../asmhighvalueappearancescgc"> ASM High Value Appearances - CGC</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/unslabbed.JPG'}}" routerLink="../asmearlyunslabbedappearances">
                <div class = "centered" routerLink="../asmearlyunslabbedappearances"> ASM Early Unslabbed Appearances</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/IMG_7240.JPG'}}" routerLink="../appearances">
                <div class = "centered" routerLink="../appearances"> Comic Book Appearances</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/magapp.JPG'}}" routerLink="../asmappearancesinmagazines">
                <div class = "centered" routerLink="../asmappearancesinmagazines"> ASM Appearances in Magazines</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/dia1.JPG'}}" routerLink="../nude">
                <div class = "centered" routerLink="../nude"> Nude</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/cracked.JPG'}}" routerLink="../crackedcrazyandmadmag">
                <div class = "centered" routerLink="../crackedcrazyandmadmag"> Cracked, Crazy and Mad Mag</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/giantcolor.jpg'}}" routerLink="../giantsizedcoloringbooksanditems">
                <div class = "centered" routerLink="../giantsizedcoloringbooksanditems"> Giant-Sized Coloring Books and Items</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/offrare.JPG'}}" routerLink="../spidermanoffbeatrareitems">
                <div class = "centered" routerLink="../spidermanoffbeatrareitems"> Spider-Man Off-Beat Rare Items </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/oversize.JPG'}}" routerLink="../stevelevinesoversizedspidermanmagazines">
                <div class = "centered" routerLink="../stevelevinesoversizedspidermanmagazines"> Steve Levine's Oversized Spider-Man Magazines</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/toyfare.JPG'}}" routerLink="../toyfaremagazine">
                <div class = "centered" routerLink="../toyfaremagazine"> Toyfare Magazine</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/trade.JPG'}}" routerLink="../trademagazines">
                <div class = "centered" routerLink="../trademagazines"> Trade Magazines</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/pin.JPG'}}" routerLink="../spidermangottliebpinballbooks">
                <div class = "centered" routerLink="../spidermangottliebpinballbooks"> Spider-Man Gottlieb Pinball Books</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/giant.JPG'}}" routerLink="../giantsizebooksorig">
                <div class = "centered" routerLink="../giantsizebooksorig"> Giant-Size Books (Orig. Buy) </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/comicon.JPG'}}" routerLink="../comicon">
                <div class = "centered" routerLink="../comicon"> Comicon</div>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="giveaways">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> GIVEAWAYS </mat-toolbar>
        <mat-card style = "display: inline-block; vertical-align: top; border: 3px solid black; max-width: 30%;">
            <mat-card-header>
                <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">GIVEAWAYS INTRODUCTION</mat-card-title>
              </mat-card-header>
                <video controls #videoPlayer style="max-width: 100%;" >
                    <source src="{{'assets/Giveaways S. Levine.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
              </video>
        </mat-card>  
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/raregive.JPG'}}" routerLink="../raregiveaways">
                <div class="centered" routerLink="../raregiveaways"> Rare Giveaways </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/comicgive.JPG'}}" routerLink="../comicgiveaways">
                <div class="centered" routerLink="../comicgiveaways"> Comic Size Giveaways </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/box56/2.JPG'}}" routerLink="../largegiveaways">
                <div class="centered" routerLink="../largegiveaways"> Large Giveaways </div>
            </mat-grid-tile>
        <mat-grid-tile routerLinkActive="active">
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/smallgive.JPG'}}" routerLink="../smallgiveaways">
            <div class="centered" routerLink="../smallgiveaways"> Small Giveaways </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/astonish.JPG'}}" routerLink="../salestoastonishmegamarveldealercatalogs">
            <div class = "centered" routerLink="../salestoastonishmegamarveldealercatalogs"> Sales To Astonish-Mega Marvel -Dealer Catalogs</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/toybiz.JPG'}}" routerLink="../toybizkooltoysgiveaways">
            <div class = "centered" routerLink="../toybizkooltoysgiveaways"> ToyBiz & Kool Toys Giveaways</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/sunday.JPG'}}" routerLink="../sundaybulletinsundaystrips">
            <div class = "centered" routerLink="../sundaybulletinsundaystrips"> Sunday Bulletin Sunday Strips</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/trib.JPG'}}" routerLink="../stevelevinestribcomicbooks">
            <div class = "centered" routerLink="../stevelevinestribcomicbooks"> Steve Levine's Trib Comic Books</div>
        </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="comictitles">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> SPIDERMAN COMIC TITLES </mat-toolbar>
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/manga.JPG'}}" routerLink="../spideysatellitetitles">
                <div class = "centered" routerLink="../spideysatellitetitles"> Spidey Satellite Titles</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/oneshot.JPG'}}" routerLink="../stevelevinesoneshotsminiseries">
                <div class = "centered" routerLink="../stevelevinesoneshotsminiseries"> Steve Levine's One-Shots & Miniseries</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/team.JPG'}}" routerLink="../marvelteamup">
                <div class = "centered" routerLink="../marvelteamup"> Marvel Team-Up</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/mcfarlane.JPG'}}" routerLink="../spiderman1990mcfarlane">
                <div class = "centered" routerLink="../spiderman1990mcfarlane"> Spiderman 1990 (McFarlane)</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/ppspec.JPG'}}" routerLink="../peterparkerspectacularspiderman">
                <div class = "centered" routerLink="../peterparkerspectacularspiderman"> Peter Parker Spectacular Spiderman</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/specann.JPG'}}" routerLink="../spectacularspidermanannuals">
                <div class = "centered" routerLink="../spectacularspidermanannuals"> Spectacular Spiderman Annuals</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/ppspec2.JPG'}}" routerLink="../peterparkerspidermanvol">
                <div class = "centered" routerLink="../peterparkerspidermanvol"> Peter Parker Spider-Man Vol 2</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/age.JPG'}}" routerLink="../marvelageannpreview">
                <div class = "centered" routerLink="../marvelageannpreview"> Marvel Age-Ann-Preview</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/sensational.JPG'}}" routerLink="../sensationalspiderman">
                <div class = "centered" routerLink="../sensationalspiderman"> Sensational Spider-Man</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/spidergirl.JPG'}}" routerLink="../spidergirl">
                <div class = "centered" routerLink="../spidergirl"> Spider-Girl</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/ultimate.JPG'}}" routerLink="../ultimatespidermanandult">
                <div class = "centered" routerLink="../ultimatespidermanandult"> Ultimate Spider-Man and Ult. Sp. Team-Up</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/web.JPG'}}" routerLink="../webofspidermanandannuals">
                <div class = "centered" routerLink="../webofspidermanandannuals"> Web of Spider-Man and Annuals</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/webspinner.JPG'}}" routerLink="../webspinners">
                <div class = "centered" routerLink="../webspinners"> Webspinners</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/tpb.JPG'}}" routerLink="../spidermantpbgraphicnovelspbandhc">
                <div class = "centered" routerLink="../spidermantpbgraphicnovelspbandhc"> Spider-Man TPB, Graphic Novels, PB and HC</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/paper.JPG'}}" routerLink="../spideypaperbackbooks">
                <div class = "centered" routerLink="../spideypaperbackbooks"> Spidey Paperback Books</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/flip.JPG'}}" routerLink="../spidermanflipbooks">
                <div class = "centered" routerLink="../spidermanflipbooks"> Spider-Man Flipbooks</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/smallbook.JPG'}}" routerLink="../spideysmallbooks">
                <div class = "centered" routerLink="../spideysmallbooks"> Spidey Small Books</div>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="british">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> BRITISH </mat-toolbar>
        <mat-card style = "display: inline-block; vertical-align: top; border: 3px solid black; max-width: 30%;">
            <mat-card-header>
                <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">BRITISH INTRODUCTION</mat-card-title>
              </mat-card-header>
                <video controls #videoPlayer style="max-width: 100%;" >
                    <source src="{{'assets/British Collection S. Levine.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
              </video>
        </mat-card> 
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/weekly.JPG'}}" routerLink="../spidermancomicsweeklyuk">
                <div class = "centered" routerLink="../spidermancomicsweeklyuk"> Spider-Man Comics Weekly (UK)</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/teamuk.JPG'}}" routerLink="../marvelteamupuk">
                <div class = "centered" routerLink="../marvelteamupuk"> Marvel Team-Up (UK)</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/mightyuk.JPG'}}" routerLink="../mightyworldofmarveluk">
                <div class = "centered" routerLink="../mightyworldofmarveluk"> Mighty World of Marvel (UK)</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/ukwint.JPG'}}" routerLink="../spidermanuksummer_wintsps">
                <div class = "centered" routerLink="../spidermanuksummer_wintsps"> Spider-Man UK Summer+Winter Specials</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/hardann.JPG'}}" routerLink="../spideybritishhardcoverbooks">
                <div class = "centered" routerLink="../spideybritishhardcoverbooks"> Spidey British Hardcover Books</div>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="kids">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> SPIDER-MAN KIDS </mat-toolbar>
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/kids.JPG'}}" routerLink="../stevelevinesspideykids">
                <div class = "centered" routerLink="../stevelevinesspideykids"> Steve Levine's Spidey Kids</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/comestolife.JPG'}}" routerLink="../comestolifebooksandreader">
                <div class = "centered" routerLink="../comestolifebooksandreader"> Comes To Life Books and Reader</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/cereal.JPG'}}" routerLink="../cerealfoodboxesandcalendars">
                <div class = "centered" routerLink="../cerealfoodboxesandcalendars"> Cereal Food Boxes and Calendars</div>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="misc">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> MISCELLANEOUS </mat-toolbar>
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/stan.JPG'}}" routerLink="../stanlee">
                <div class = "centered" routerLink="../stanlee"> Stan Lee</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/fanzine.JPG'}}" routerLink="../fanzines">
                <div class = "centered" routerLink="../fanzines"> Fanzines</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/electric.JPG'}}" routerLink="../electriccompanymagazinescomplete">
                <div class = "centered" routerLink="../electriccompanymagazinescomplete"> Electric Company Magazines - Complete</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/30c.JPG'}}" routerLink="../spiderman30centvariants">
                <div class = "centered" routerLink="../spiderman30centvariants"> Spider-Man 30 Cent Variants</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/vinyl.JPG'}}" routerLink="../stevelevinesspidermanrecordsvinyls">
                <div class = "centered" routerLink="../stevelevinesspidermanrecordsvinyls"> Steve Levine's Spider-Man Records & Vinyls</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/cass.JPG'}}" routerLink="../spidermancassettes">
                <div class = "centered" routerLink="../spidermancassettes"> Spiderman Cassettes</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/handbook.JPG'}}" routerLink="../handbookmarveluniverse">
                <div class = "centered" routerLink="../handbookmarveluniverse"> Handbook Marvel Universe</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/officialhand.JPG'}}" routerLink="../officialhandbookmarveluniverse">
                <div class = "centered" routerLink="../officialhandbookmarveluniverse"> Official Handbook Marvel Universe</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/officialhand.JPG'}}" routerLink="../officialhandbooksmarveluniverseall">
                <div class = "centered" routerLink="../officialhandbooksmarveluniverseall"> Official Handbooks Marvel Universe - ALL</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/tales.JPG'}}" routerLink="../stevelevinesmarveltales">
                <div class = "centered" routerLink="../stevelevinesmarveltales"> Steve Levine's Marvel Tales</div>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="art">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> ORIGINAL ART </mat-toolbar>
        <mat-card style="border: 3px solid black"> 
        <mat-grid-list cols="3" rows="7" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_0399.JPG'}}" (click)="openDialog('Original Sketch for Amazing Spider-Man #583 - Obama Issue - Alt. Cover Romita Variant (2009)', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_0399.JPG')">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_3036.JPG'}}" (click)="openDialog('Spectacular Spider-Man #223 Original Art by John Romita Jr. Story &quot;The Beginning&quot;', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_3036.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5530.JPG'}}" (click)="openDialog('Spider-Man Power of Terror #4 (1995) Original Art by Greg Adams', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5530.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5531.JPG'}}" (click)="openDialog('1973 Letter from Ditko to Fan with Original Mailer', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5531.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5532.JPG'}}" (click)="openDialog('Original Art by Larry Lieber for Spiderman Newspaper Strip (1986, 1993)', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5532.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5533.JPG'}}" (click)="openDialog('Spectacular Spider-Man #29 (1979) Original Art by Jim Mooney', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5533.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5534.JPG'}}" (click)="openDialog('Amazing Spider-Man #43 (Year Unknown) Original Art by Mike Esposito replicating John Romita Sr. Original Art', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5534.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5535.JPG'}}" (click)="openDialog('Amazing Spider-Man &quot;Skyscraper Caper&quot; Original Art by John Romita Sr.', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5535.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5536.JPG'}}" (click)="openDialog('Marvel Team-Up #1 (1972) Original Art by Ross Andru', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5536.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5537.JPG'}}" (click)="openDialog('Amazing Spider-Man #75 (1969) Original Art by John Romita Sr.', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5537.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5538.JPG'}}" (click)="openDialog('Amazing Spider-Man #78 (1969) 2-Page Original Art by John Romita Sr. First Appearance of The Prowler', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5538.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5539.JPG'}}" (click)="openDialog('Amazing Spider-Man Annual #5 (1968) Penciled by John Romita Sr.', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5539.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5540.JPG'}}" (click)="openDialog('Marvel Treasury Edition #28 (1991) Original Art by John Buscema: Spider-Man and Superman Together!', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5540.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5541.JPG'}}" (click)="openDialog('Amazing Spider-Man #61 (1968) Original Art by John Romita Sr.', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5541.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5543.JPG'}}" (click)="openDialog('Spectacular Spider-Man #3 (1977) Original Art by Sal Buscema 1st Appearance of Lightmaster', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5543.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5544.JPG'}}" (click)="openDialog('Amazing Spider-Man #388 (1994) Original Art by Mark Bagley', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5544.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5545.JPG'}}" (click)="openDialog('Web of Spider-Man Annual #6 (1990) Original Art by Gil Kane', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5545.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5546.JPG'}}" (click)="openDialog('Amazing Spider-Man #25 (1965) Original Art by Steve Ditko', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5546.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5547.JPG'}}" (click)="openDialog('Amazing Spider-Man #314 Original Art by Steve Ditko', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5547.JPG')">
            </mat-grid-tile>
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5548.JPG'}}" (click)="openDialog('Top Dog #10 (1986) Original Spider-Man Art by John Romita Sr.', null, 'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/art/IMG_5548.JPG')">
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>
<div *ngIf="rest">
    <div>
        <mat-toolbar style="font-family: THE AMAZING SPIDER-MAN;"> THE REST </mat-toolbar>
        <mat-card style="border: 3px solid black">
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/weekly.JPG'}}" routerLink="../british">
                <div class = "centered" routerLink="../british"> British </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/oneshot.JPG'}}" routerLink="../comictitles">
                <div class = "centered" routerLink="../comictitles"> Spider-Man Comic Titles</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/kids.JPG'}}" routerLink="../kids">
                <div class = "centered" routerLink="../kids"> Spider-Man Kids</div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'https://backend-deploy-ljkpxx3zga-uw.a.run.app/get_image/home/stan.JPG'}}" routerLink="../misc">
                <div class = "centered" routerLink="../misc"> Miscellaneous </div>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-card>
        </div>
</div>

