.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: larger;
    text-align: center;
  }
.fade:hover .centered{
    opacity: 1;
}
.fade:hover {
    opacity: 0.6;
}