.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: larger;
    text-align: center;
  }
.fade:hover .centered{
    opacity: 1;
}
.fade:hover {
    opacity: 0.6;
}

@font-face {
    font-family: 'THE AMAZING SPIDER-MAN';
    src: url('/assets/THEAMAZINGSPIDER-MAN.woff2') format('woff2'),
        url('/assets/THEAMAZINGSPIDER-MAN.woff') format('woff'),
        url('/assets/THEAMAZINGSPIDER-MAN.svg#THEAMAZINGSPIDER-MAN') format('svg'),
        url('/assets/THEAMAZINGSPIDER-MAN.ttf') format("truetype");
    color: black;
}

