<div>
    <mat-toolbar style="margin: 0 auto;">
        <mat-toolbar-row>
        <span style="font-family: THE AMAZING SPIDER-MAN; font-size: xx-large; margin: auto;"> THE SPIDER-STEVE COLLECTION </span>
        </mat-toolbar-row>
        <span style="margin:auto;"> (It's for sale-but not for long!)</span>
    </mat-toolbar>
</div>
<div style="padding-bottom: 5px;">
    <mat-card style= "border: 3px solid black; max-width: 200px; display: inline-block; vertical-align: top;">
        <mat-card-header>
            <mat-card-title style="font-family: THE AMAZING SPIDER-MAN; padding-left: 15px;">SPREADSHEETS</mat-card-title>
        </mat-card-header>
    <mat-list style="max-width: 200px;">
        <mat-list-item style="min-height: 60px;">
            <button style="min-height: 50px; min-width: 150px;"mat-raised-button routerLink='../asm'> ASM 1-700 </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: 60px; padding-top: 10px;">
            <button style="min-height: 50px; min-width: 150px;" mat-raised-button routerLink='../appearances'>Appearances</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: 60px; padding-top: 10px;">
            <button style="min-height: 50px;min-width: 150px;" mat-raised-button>Giveaways</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: 60px; padding-top: 10px;">
            <button style="min-height: 50px;min-width: 150px;" mat-raised-button>Toys</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: 60px; padding-top: 10px;">
            <button style="min-height: 50px;min-width: 150px;" mat-raised-button>Art</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: 60px; padding-top: 20px;">
            <button style="min-height: 50px;min-width: 150px;" mat-raised-button>The Rest</button>
        </mat-list-item>
    </mat-list>
</mat-card>
    <mat-card style = "display: inline-block; vertical-align: top; border: 3px solid black">
        <mat-card-header>
            <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">COLLECTION INTRODUCTION</mat-card-title>
          </mat-card-header>
            <video controls #videoPlayer style="max-width: 690px;" >
                <source src="{{'assets/IMG_1816.mp4'}}" type="video/mp4">
                Your browser does not support the video tag.
          </video>
    </mat-card>          
    <mat-card style = "display: inline-block; vertical-align: top; border: 3px solid black">
        <mat-card-header>
            <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">COLLECTION COMIC BOOK</mat-card-title>
          </mat-card-header>
            <img class="fade" style = "max-width: 503px" src="{{'assets/cover.jpg'}}" routerLink='../comic'>
    </mat-card>
</div>
<div style="padding-bottom: 5px;">
    <mat-card style="display: inline-block; vertical-align: top; width: 70.5%; border: 3px solid black;">
        <mat-card-header>
            <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">PREQUELS</mat-card-title>
        </mat-card-header>
        <mat-grid-list cols="3" rowHeight="1:1.5">
            <mat-grid-tile routerLinkActive="active">
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/26st97.JPG'}}" (click)="openDialog('Strange Tales', 97, 'assets/26st97.JPG')">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/2aaf14.JPG'}}" (click)="openDialog('Amazing Adult Fantasy', 14, 'assets/2aaf14.JPG')">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/7(2).JPG'}}" routerLink='../diabolique'>
            </mat-grid-tile>
            </mat-grid-list>
    </mat-card>
    <mat-card style="display: inline-block; vertical-align: top; width:22%; border: 3px solid black">
        <mat-card-header>
            <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;">AMAZING FANTASY</mat-card-title>
        </mat-card-header>
        <img class="fade" style="max-width: 100%; max-height:100%;" src="{{'assets/2.JPG'}}" (click)="openDialog('Amazing Fantasy', 15, 'assets/2.JPG')">
    </mat-card>
</div>
<div>
<mat-card style="border: 3px solid black">
    <mat-card-header>
        <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;"> THE AMAZING SPIDER-MAN</mat-card-title>
      </mat-card-header>
<mat-grid-list cols="5" rowHeight="1:1.5">
<mat-grid-tile routerLinkActive="active">
    <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/3.JPG'}}" (click)="openDialog('Amazing Spider-Man', 1, 'assets/3.JPG')">
</mat-grid-tile>
<mat-grid-tile>
    <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/4.JPG'}}" (click)="openDialog('Amazing Spider-Man', 2, 'assets/4.JPG')">
</mat-grid-tile>
<mat-grid-tile>
    <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/5.JPG'}}" (click)="openDialog('Amazing Spider-Man', 3, 'assets/5.JPG')">
</mat-grid-tile>
<mat-grid-tile>
    <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/6.JPG'}}" (click)="openDialog('Amazing Spider-Man', 4, 'assets/6.JPG')">
</mat-grid-tile>
<mat-grid-tile>
    <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/7.JPG'}}" (click)="openDialog('Amazing Spider-Man', 5, 'assets/7.JPG')">
</mat-grid-tile>
</mat-grid-list>
</mat-card>
</div>
<div style="padding-bottom: 5px;">
    <mat-card style="border: 3px solid black">
        <mat-card-header>
            <mat-card-title style="font-family: THE AMAZING SPIDER-MAN;"> TOYS </mat-card-title>
          </mat-card-header>
    <mat-grid-list cols="5" rowHeight="1:1.5">
    <mat-grid-tile>
        <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/IMG_5389.JPG'}}" (click)="openDialog('Captain Action', 1, 'assets/IMG_5389.JPG')">
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/IMG_5826.JPG'}}" (click)="openDialog('Marvel Super Hero Express', 1, 'assets/IMG_5826.JPG')">
            <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/IMG_5375.JPG'}}" (click)="openDialog('Amazing Spider Man Scooter', 1, 'assets/IMG_5375.JPG')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
    <div>
        <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/flyers.jpg'}}" (click)="openDialog('Marvel Flyers', 1, 'assets/flyers.jpg')">
        <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/flyers3.JPG'}}" (click)="openDialog('Marvel Flyers', 2, 'assets/flyers3.JPG')">
    </div>
    </mat-grid-tile>

    <mat-grid-tile>
    <div>
        <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/IMG_5967.JPG'}}" (click)="openDialog('Marvel Mini Books', 1, 'assets/IMG_5967.JPG')">
        <img class="fade" style="padding-left: 40px; max-width:70%; max-height:70%;" src="{{'assets/mini.jpg'}}" (click)="openDialog('Marvel Mini Books', 1, 'assets/mini.jpg')">
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="fade" style="max-width:100%; max-height:100%;" src="{{'assets/pinball.JPG'}}" (click)="openDialog('Spiderman Pinball Machine', 1, 'assets/pinball.JPG')">
    </mat-grid-tile>
    </mat-grid-list>
    </mat-card>
</div>

    <!--
    <mat-grid-tile>
        <img class="fade"  style="max-width:100%; max-height:100%;" src="{{'assets/BOX 20 (1).JPG'}}">
        <div class="centered">Giveaways</div> 
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="fade" routerLink='../appearances' style="max-width:100%; max-height:100%;" src="{{'assets/IMG_5364.JPG'}}">
        <div class="centered">Toys</div> 
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="fade" routerLink='../appearances' style="max-width:100%; max-height:100%;" src="{{'assets/25.JPG'}}">
        <div class="centered">Off-Beat Rare Items</div> </mat-grid-tile>
    <mat-grid-tile>
        <img class="fade" routerLink='../appearances' style="max-width:100%; max-height:100%;" src="{{'assets/2.JPG'}}">
        <div class="centered">Amazing Fantasy 15</div> 
    </mat-grid-tile>
    </mat-grid-list>
</div>
-->